<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>BlackListener</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="gray lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">BlackListener</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Login</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Login</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">BlackListener</h1>
      <div class="row center">
        <h5 class="header col s12 light">Bot that a Global BAN can do</h5>
      </div>
      <div class="row center">
        <a href="https://discordapp.com/oauth2/authorize?client_id=456966161079205899&permissions=8&scope=bot" id="download-button" class="btn-large waves-effect waves-light orange">Invite</a>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">block</i></h2>
            <h5 class="center">Share a BAN</h5>

            <p class="light">Vandalism is a very troubling existence for the server. Let's share the BAN with this bot.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Easy to find information</h5>

            <p class="light">Everyone can easily see the user's BAN information etc (future system).</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Visualization of<br />Server settings</h5>

            <p class="light">It is represented not by text but by more obvious things.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">What's BlackListener's features?</h5>
          <p class="grey-text text-lighten-4">Antispam(Disabled), Global Banning, Delete Message(Specify by number), And other things!</p>

        </div>
        <div class="col l3 s12">
          <h5 class="white-text"><i class="material-icons">link</i>Links</h5>
          <ul>
            <li><a class="white-text" href="http://docs.blacklistener.tk/">Documentation (ReadTheDocs)</a></li>
            <li><a class="white-text" href="https://discordapp.com/oauth2/authorize?client_id=456966161079205899&permissions=8&scope=bot">Invite</a></li>
            <li><a class="white-text" href="https://github.com/BlackListener/BlackListener">GitHub</a></li>
            <li><a class="white-text" href="https://bugs.rht0910.tk/projects/BL/issues/?filter=allopenissues">Bug tracker</a></li>
            <li><a class="white-text" href="https://discordapp.com">Discord</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text"><i class="material-icons">settings</i>Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="https://github.com/rht0910">rht0910</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/materialize.js"></script>
  <script src="/js/init.js"></script>

  </body>
</html>
